<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>CFBundleExecutable</key>
    <string>Symple</string>
    <key>CFBundleIconFile</key>
    <string/>
    <key>CFBundleIdentifier</key>
    <string>com.yourcompany.Symple</string>
    <key>CFBundleName</key>
    <string>Symple</string>
    <key>CFBundleDisplayName</key>
    <string>Symple</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>NSHumanReadableCopyright</key>
    <string/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>AudioComponents</key>
    <array>
      <dict>
        <key>name</key>
        <string>marquess: Symple</string>
        <key>description</key>
        <string>Symple</string>
        <key>factoryFunction</key>
        <string>SympleAUFactory</string>
        <key>manufacturer</key>
        <string>Manu</string>
        <key>type</key>
        <string>aumu</string>
        <key>subtype</key>
        <string>Pduz</string>
        <key>version</key>
        <integer>65536</integer>
        <key>resourceUsage</key>
        <dict>
          <key>network.client</key>
          <true/>
          <key>temporary-exception.files.all.read-write</key>
          <true/>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
